@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    z-index: 2;
    margin: 0 2%;

    /* border: 2pt solid red; */
}

.title {
    display: flex;
    align-items: center;
    color: white;
    font-family: var(--font-ibm-plex-mono), monospace;
    text-decoration: none;

    /* border: 2pt solid red; */
}

.logo {
    height: 60px;
    padding: 10px;
    margin-right: 10px;

    /* border: 2pt solid red; */
}

.menu {
    display: flex;

    /* border: 2px solid yellow; */
}

.menuBtn {
    display: none;
    padding-top: 8px;

    /* border: 2px solid yellow; */
}

.menuItems{
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

    /* border: 2px solid yellow; */
}

.menuItems a{
    color: white;
    font-family: var(--font-montserrat);
    text-decoration: none;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        /* justify-content: center; */
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 2%;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        z-index: 1;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        border-radius: 10px;
        background: rgba(28, 46, 74, 0.9);
        padding: 20px 20px;
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
}